name: Auto Windows RDP Loop (2019)

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'   # tiap 5 menit

jobs:
  rdp:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
      - name: Create Windows User
        run: |
          # Buat user Windows
          net user RDP vizzan15 /add
          net localgroup administrators RDP /add

          # Enable login via RDP
          reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
          netsh advfirewall firewall set rule group="remote desktop" new enable=yes

          # Set autologon Windows dengan user RDP
          reg add "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" /v AutoAdminLogon /t REG_SZ /d 1 /f
          reg add "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" /v DefaultUsername /t REG_SZ /d RDP /f
          reg add "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon" /v DefaultPassword /t REG_SZ /d vizzan15 /f

      - name: Install Tailscale
        run: |
          choco install tailscale -y
          Start-Sleep 10

      - name: Connect Tailscale
        run: |
          & "C:\Program Files\Tailscale\tailscale.exe" up `
            --authkey=${{ secrets.TAILSCALE_AUTHKEY }} `
            --hostname=github-win-2019 `
            --accept-dns=false `
            --accept-routes=false

      - name: Keep Alive
        run: |
          while ($true) { Start-Sleep 300 }

      - name: Logout Tailscale on Exit
        if: always()
        run: |
          & "C:\Program Files\Tailscale\tailscale.exe" logout
