name: Windows RDP 2019 - Show Password

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  rdp:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
      - name: Create Windows User (LOGIN WINDOWS ASLI)
        run: |
          $USER = "RDP"
          $PASS = "vizzan15"

          net user $USER $PASS /add
          net localgroup administrators $USER /add

          # Enable RDP
          reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
          netsh advfirewall firewall set rule group="remote desktop" new enable=yes

          Write-Host "=============================="
          Write-Host " WINDOWS LOGIN CREDENTIALS"
          Write-Host " Username : $USER"
          Write-Host " Password : $PASS"
          Write-Host "=============================="

      - name: Install Tailscale
        run: |
          choco install tailscale -y
          Start-Sleep 10

      - name: Connect Tailscale (Reusable / Non-Ephemeral)
        run: |
          & "C:\Program Files\Tailscale\tailscale.exe" up `
            --authkey=${{ secrets.TAILSCALE_AUTHKEY }} `
            --hostname=win2019-rdp `
