name: Auto Windows RDP (Tailscale)

on:
  push:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-2019
    timeout-minutes: 360

    steps:
      - name: Create RDP User
        run: |
          net user RDP vizzan15 /add
          net localgroup administrators RDP /add
          reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
          netsh advfirewall firewall set rule group="remote desktop" new enable=yes

      - name: Install Tailscale
        run: |
          choco install tailscale -y
          Start-Sleep 10

      - name: Connect Tailscale
        run: |
          "C:\Program Files\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --hostname=github-win

      - name: Keep Alive
        run: |
          while ($true) { Start-Sleep 300 }
